@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg {
    background-image: url("./images/bg-pattern-top.svg"),
      url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 700px, 700px;
    background-position: top -330px left -350px, bottom -350px right -350px;

    @media (min-width: 64em) {
      background-size: 1000px, 1000px;
      background-position: top -510px left -200px, bottom -550px right -210px;
    }
  }
}
